@media only screen and (max-width: 480px) {
    body {
        background-color: rgb(214, 57, 57);
    }
}
@media only screen and (max-width: 481px) {
    body {
        background-color: beige;
    }
    .header-section {
        display: flex;
        flex-direction: row-reverse;
    }
    .half-width {
        width: 100%;
        padding: 0 0;
        text-align: justify;
        justify-content: center;
    }
    .right-content img {
        background-color: palegreen;
        margin: auto;
        margin-top: 50px;
        transition: 2s;
        transition-duration: 2s;
    }
    
    }
    @media only screen and (min-width: 620px) {
        body {
            background-color: burlywood;
        }
        .half-width .button a {
            height: 100px;
            width: 100px;
            margin: auto;
            margin-top: 50px;
            transition: 2s;
        }
        .half-width .button a:hover {
         transform: scale(1.5) rotate(25deg);
        }   
   
}